<label for="description">{{ label }}</label>
<textarea
  class="form-control"
  rows="3"
  [placeholder]="placeholder"
  [formControl]="control"
></textarea>
<ng-container *ngIf="control.invalid && (control?.touched || control?.dirty)">
  <span *ngIf="control.errors?.required" class="badge text-bg-danger"
    >{{ label }} is required</span
  >
  <span *ngIf="control.errors?.minlength" class="badge text-bg-danger"
    >{{ label }} you entered is
    {{ control.errors?.minlength.actualLength }} characters long. it must be
    {{ control.errors?.minlength.requiredLength }}</span
  >
</ng-container>
