<div class="container add-task-form">
  <div class="row">
    <div class="col">
      <h2 class="display-5">Add your task</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <form [formGroup]="taskForm" (ngSubmit)="saveTask()">
        <div class="form-group">
          <tm-input
            [control]="title"
            label="Title"
            placeholder="Enter the title"
          ></tm-input>
        </div>
        <div class="form-group">
          <tm-text-area
            [control]="description"
            label="Description"
          ></tm-text-area>
        </div>
        <div class="form-group">
          <tm-input type="date" label="Due Date" [control]="dueDate"></tm-input>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" id="status" formControlName="status">
            <option value="inProgress">In Progress</option>
            <option value="completed">Completed</option>
            <option value="pending">Pending</option>
          </select>
        </div>
        <div class="mt-4">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="taskForm.invalid"
          >
            Save Task
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
