<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 mt-5">
      <h2 class="text-center">Login Page</h2>
      <div class="form-controls mt-4">
        <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
          <div class="mb-3">
            <tm-input [control]="email" label="Email"></tm-input>
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <tm-input
              type="password"
              [control]="password"
              label="Password"
            ></tm-input>
          </div>
          <div class="mb-3 text-center">
            <span
              >Dont't have an account ?
              <a [routerLink]="['../register']">Register</a></span
            >
          </div>
          <button
            type="submit"
            [disabled]="loginForm.invalid"
            class="btn btn-primary btn-block"
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
