<div class="w-100 d-flex justify-content-center align-items-center">
  <div class="login-form mt-5 gap-3" style="width: 40%">
    <h2>Login Page</h2>
    <div class="form-controls mt-4 d-flex flex-column justify-content-between">
      <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
        <div class="mb-3">
          <tm-input [control]="email" label="Email"></tm-input>
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <tm-input
            type="password"
            [control]="password"
            label="Password"
          ></tm-input>
        </div>
        <div class="mb-3">
          <span
            >Dont't have an account ?
            <a [routerLink]="['../register']">Register</a></span
          >
        </div>
        <button
          type="submit"
          [disabled]="loginForm.invalid"
          class="btn btn-primary"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
