.card {
  box-shadow: 3px 3px 22px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 22px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 22px -8px rgba(0, 0, 0, 0.75);
  color: #fff;
  background: #00cc66;
  border: none;
  border-radius: 10px;
}

.more-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.btn-area {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.content-area {
  padding: 10px;
}
.status-selector {
  flex-basis: 40%;
}
